*.o
test/refill_test
libbvg.a
test/bvgraph_test
test/bitfile_test
test/check_bvgraph
bvgraph2smat
bvpr
*.mex*
data/harvard500.smat
python/*.so
test/bitfile_64bit_test
test/bvgraph_64bit_random_test
test/bvgraph_64bit_test
